body {
    position: relative;
    min-height: 100vh;
    margin: 0;
  }
  
  body::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* 线条的高度 */
    background-color: white; /* 线条的颜色 */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  